# Ignore bundler config
/.bundle
/gem_graph.png

# Ignore the default SQLite database
/db/*.sqlite3

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore coverage data.
/coverage

# Ignore RubyMine files
.idea

# Ignore gemset and database config
/.ruby-gemset
/config/database.yml


# Ignore application configuration
/config/application.yml

!/public/assets/images
/public/assets
