*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

/gem_graph.png
# Ignore RubyMine files
.idea

# Ignore gemset and database config
/.ruby-gemset
/config/database.yml

# Ignore application configuration
/config/application.yml

!/public/assets/images
/public/assets
