@import 'twitter/bootstrap';
@import '_navbar';
@import '_footer';
@import 'nprogress.css';
@import 'nprogress-bootstrap.css';
@import 'bootstrap-datepicker.css';
@import 'subject_grades.css.less';
@import 'faqs.css.less';
@import 'flipswitch.css.less';

.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}

.preloader {
  background-image: url("/assets/images/loader.gif");
  width: 16px;
  height: 16px;
  float: right;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}